*.iml
.gradle/
.kotlin/
/local.properties
/.idea/
.DS_Store
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.aab
build/
/dist/
/app/src/main/assets/aegis_dict.bin
/app/src/main/assets/aegis_t9.bin
/app/src/main/assets/aegis_jianpin.bin
/app/src/main/assets/aegis_lm.bin
/app/src/main/assets/aegis_english.bin
/app/src/main/assets/aegis_en_full.bin
/app/src/main/assets/wanxiang-lts-zh-hans.gram
